absl-py==0.15.0
appdirs==1.4.4
astunparse==1.6.3
audioread==2.1.9
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
clang==5.0
click==8.1.2
cycler==0.11.0
Cython==0.29.28
dataclasses==0.6
decorator==5.1.1
Distance==0.1.3
docopt==0.6.2
filelock==3.6.0
flatbuffers==1.12
fonttools==4.33.2
g2p-en==2.1.0
g2pM==0.1.2.5
gast==0.4.0
german-transliterate @ git+https://github.com/repodiac/german_transliterate@4e01beba5f19adb9ccd72d0607a81f4ed7f6ee87
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.1.0
huggingface-hub==0.0.8
idna==3.3
importlib-metadata==4.11.3
inflect==5.5.2
jamo==0.4.1
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.1
librosa==0.9.1
llvmlite==0.31.0
Markdown==3.3.6
matplotlib==3.5.1
nltk==3.7
num2words==0.5.10
numba==0.48.0
numpy==1.19.5
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
Pillow==9.1.0
pooch==1.6.0
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyopenjtalk==0.2.0
pyparsing==3.0.8
pypinyin==0.46.0
python-dateutil==2.8.2
pyworld==0.3.0
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
resampy==0.2.2
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
six==1.15.0
SoundFile==0.10.3.post1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-addons==0.16.1
tensorflow-estimator==2.8.0
tensorflow-gpu==2.6.0
tensorflow-io-gcs-filesystem==0.25.0
TensorFlowTTS==1.8
termcolor==1.1.0
TextGrid==1.5
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tqdm==4.64.0
typeguard==2.13.3
typing-extensions==3.7.4.3
Unidecode==1.3.4
urllib3==1.26.9
Werkzeug==2.1.1
wrapt==1.12.1
zipp==3.8.0
